<div id="the-list-of-gyms">
  <div class="row">
    <button class="btn btn-lrg btn-default"><%= link_to 'Search more gyms', :back %></button>
  </div>


  <ul class="gyms-list col-md-offset-4 col-md-4">
    <% @gyms.each do |gym| %>
    <li class="panel"><%= gym['name'] %><br><%= gym['vicinity'] %></li><p></p>
    <% end %>
  </ul>
</div>


<div id="footer">
  <span> </span>
</div>






